{# templates/categorias/index.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}Categorías{% endblock %}

{% block content %}
    <h1>Categorías</h1>
    <ul>
        {% for categoria in categorias %}
        <li>
            <a href="{{ path('categoria_productos', {'id': categoria.id}) }}">
                {{ categoria.nombre }}
            </a>
        </li>
        {% else %}
            <li>No hay categorías disponibles.</li>
        {% endfor %}
    </ul>
{% endblock %}
