{% extends 'base.html.twig' %}

{% block title %}Productos de la categoría: {{ categoria.nombre }}{% endblock %}

{% block content %}
    {% if productos is not empty %}
        <ul>
            {% for producto in productos %}
                <li>
                    <a href="{{ path('producto_detalle', {'id': producto.id}) }}">
                        {{ producto.nombre }}
                    </a> - {{ producto.precio }}€
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay productos en esta categoría.</p>
    {% endif %}
{% endblock %}
