/* carrito.css */

.carrito-total {
    color: #2e7d32; /* Verde oscuro saludable */
    font-weight: bold;
}

.btn-outline-success {
    border-color: #66bb6a;
    color: #388e3c;
}

.btn-outline-success:hover {
    background-color: #81c784;
    color: white;
}

.btn-danger {
    background-color: #c62828;
    border-color: #b71c1c;
}

.btn-danger:hover {
    background-color: #b71c1c;
    border-color: #b71c1c;
}
