/* carrito.css */

.carrito-total {
    color: #2e7d32; /* Verde oscuro saludable */
    font-weight: bold;
}

.btn-outline-success {
    border-color: #66bb6a;
    color: #388e3c;
}

.btn-outline-success:hover {
    background-color: #81c784;
    color: white;
}

.btn-danger {
    background-color: #c62828;
    border-color: #b71c1c;
}

.btn-danger:hover {
    background-color: #b71c1c;
    border-color: #b71c1c;
}

.boton-confirmar {
    background-color: #28a745; 
    color: white;
    border-radius: 12px;
    font-weight: 600;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.boton-confirmar:hover{
    background-color: #218838;
    box-shadow: 0 0 8px rgba(33, 136, 56, 0.7);
    color: white;
    text-decoration: none;
    outline: none;
}

.boton-volver {
    padding: 2px 8px;
    font-size: 0.9rem;
    line-height: 1.2;
}
