.bg-verde-claro {
  background-color: #e8f5e9;
}

.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lead {
  font-size: 1.25rem;
}


@media (max-width: 767.98px) {
  .lead {
    font-size: 1.1rem;
  }
}
