<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin - Fresh&Go{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container my-4">
        {% block content %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
</body>
</html>
