{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Panel de Administración</h1>

        <div class="row g-4">
            <div class="col-md-4">
                <a href="#" class="text-decoration-none">
                    <div class="card bg-primary text-white h-100">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Productos</h5>
                            <p class="card-text">CRUD de productos</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="text-decoration-none">
                    <div class="card bg-success text-white h-100">
                        <div class="card-body">
                            <h5 class="card-title">Pedidos</h5>
                            <p class="card-text">Ver y administrar pedidos de clientes</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="text-decoration-none">
                    <div class="card bg-warning text-dark h-100">
                        <div class="card-body">
                            <h5 class="card-title">Usuarios</h5>
                            <p class="card-text">Gestionar usuarios registrados</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

