<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fresh&Go{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>

    <!-- Navbar común para todas las páginas -->
    <nav>
        <ul>
            <li><a href="{{ path('app_home') }}">Inicio</a></li>
            <li><a href="{{ path('app_categorias') }}">Categorías</a></li>
            <li><a href="{{ path('app_login') }}">Iniciar Sesión</a></li>
        </ul>
    </nav>

    <!-- Contenido específico de cada página -->
    <div>
        {% block content %}{% endblock %}
    </div>

</body>
</html>
