<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido a Fresh&Go</h1>
    <p>Tu plataforma de comida saludable</p>
    <a href="{{ path('app_login') }}">
        <button>Iniciar Sesión</button>
    </a>

    <h2>Categorías</h2>
    <ul>
        {% for categoria in categorias %}
            <li>
                <a href="{{ path('app_categoria_productos', { id: categoria.id }) }}">
                    {{ categoria.nombre }}
                </a>
            </li>
        {% else %}
            <li>No hay categorías disponibles.</li>
        {% endfor %}
    </ul>
</body>
</html>

