{% extends 'base.html.twig' %}

{% block title %}Página Principal{% endblock %}

{% block content %}
    <h1>Bienvenido a Fresh&Go</h1>
    <h3>Tu plataforma de comida saludable</h3>
    <p>Explora nuestras
        <a class="" href="{{ path('app_categorias') }}">categorías</a>
     y descubre deliciosas recetas.</p>
    
{% endblock %}



