{% extends 'base.html.twig' %}

{% block title %}Página Principal{% endblock %}

{% block content %}
    <h1>Bienvenido a Fresh&Go</h1>
    <p>Tu plataforma de comida saludable</p>
    
{% endblock %}



