{% extends 'base.html.twig' %}

{% block title %}Página Principal{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block content %}
    <section class="hero-freshgo d-flex align-items-center text-center text-white">
        <div class="container">
            <h1 class="display-4 fw-bold">Bienvenido a Fresh&Go</h1>
            <p class="lead">Comida saludable, lista para ti</p>
            <a href="{{ path('app_categorias') }}" class="btn btn-success btn-lg mt-3">Explorar categorías</a>
        </div>
    </section>
    
{% endblock %}



