{# templates/pedido/gracias.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/carrito.css') }}">
{% endblock %}

{% block title %}¡Gracias por tu pedido!{% endblock %}

{% block content %}
<div class="container mt-5 bg-white p-4 borde-redondeado sombra text-center">
    <h1 class="mb-4 titulo-verde">¡Pedido confirmado!</h1>
    <p class="mb-4 fs-5">Gracias por confiar en nosotros. Pronto recibirás tu pedido.</p>
    <a href="{{ path('app_home') }}" class="btn btn-outline-success btn-sm py-1 px-3 boton-volver">Volver al inicio</a>
</div>
{% endblock %}
